.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
EdgeTAM.egg-info/
edgetam_env/
__pycache__/
*.pyc
.DS_Store
*.mp4
*.avi
*.mov
notebooks/videos/*-frames/
notebooks/*_tracking_output*.mp4
